/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Couleurs principales pour les deux modes */
:root {
  --ifm-color-primary: #ffaa00;
  --ifm-color-primary-dark: #e69900;
  --ifm-color-primary-darker: #d99000;
  --ifm-color-primary-darkest: #b37700;
  --ifm-color-primary-light: #ffb31a;
  --ifm-color-primary-lighter: #ffb726;
  --ifm-color-primary-lightest: #ffc34d;
}

/* Mode sombre : appliquer le fond sombre et adapter les couleurs */
[data-theme='dark'] {
  --ifm-background-color: #1e1e1e; /* Fond sombre */
  --ifm-color-primary: #ffaa00; /* Couleur primaire orange */
  --ifm-navbar-background-color: #1e1e1e; /* Couleur du fond de la navbar */
  --ifm-color-text: #ffffff; /* Texte blanc pour meilleure lisibilité */
  --ifm-code-color: #ffaa00; /* Texte du code en orange */
}

