/* index.module.css */

/* Styles pour la barre de navigation */
.navbar {
    display: flex; /* Toujours afficher la barre de navigation */
    flex-direction: row; /* Aligner les éléments horizontalement */
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Ajustez si nécessaire */
}

.navbarToggle {
    display: none; /* Ne pas afficher le bouton hamburger */
}

.navLinks {
    list-style: none;
    display: flex; /* Afficher les liens en ligne par défaut */
    margin-left: 20px; /* Espacement à gauche des liens */
}

.navLinks li {
    margin-left: 15px; /* Espacement entre les liens */
}

.navLinks a {
    text-decoration: none;
    color: black; /* Couleur des liens */
}

/* Forcer le mode mobile en dessous de 1600px */
@media screen and (max-width: 1600px) {
    .navbar__items,
    .navbar__brand {
      display: none;
    }
  
    .navbar__toggle {
      display: block;
    }
  
    .menu__list {
      display: flex;
      flex-direction: column;
    }
  
    .footer__links {
      flex-direction: column;
      text-align: center;
    }
  }
  